* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  line-height: 1.57em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17191c;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1920px;
  height: 100%;
}

.main-page-wrapper {
  background-image: url(./images/hero.jpg), url(./images/bottom-pic.jpg);
  background-position: center top, center bottom 306px;
  background-repeat: no-repeat, no-repeat;
}

.container {
  width: 1154px;
  margin: 0 auto;
}

.header__container {
  width: 1140px;
  margin: 25px auto 80px;
  height: 130px;
}

.logo,
.menu,
.menu__item,
.contacts {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  margin: 0 240px;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__item:hover {
  color: #ff3d00;
}

.menu__item--active {
  color: #ff3d00;
}

.contacts {
  font-style: normal;
  text-align: right;
  vertical-align: bottom;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__workhours {
  line-height: 1.1;
  text-decoration: underline;
  color: #ff3d00;
}
.contacts__workhours:hover {
  cursor: pointer;
}

.hero {
  margin-bottom: 233px;
}

.hero__container {
  width: 776px;
}

.hero__content {
  text-align: center;
}

.hero__tagline {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero__text {
  margin-top: 17px;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 1.1;
}

.button {
  display: inline-block;
  height: 55px;
  padding: 18px 53px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  border-radius: 35px;
  background-color: #ff5500;
}

.button:hover {
  background-color: #ff3d00;
}

.services {
  margin-bottom: 180px;
}

.services__list {
  font-size: 0;
}

.service {
  width: 362px;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 5px;
  font-size: 14px;
  color: #666;
  padding: 40px 22px 53px;
}

.services__item {
  display: inline-block;
  vertical-align: top;
}

.service__header {
  height: 76px;
  position: relative;
}

.service__icon {
  position: absolute;
}

.services__item + .services__item {
  margin-left: 30px;
}

.services__item--active {
  border: 5px solid #ccc;
}

.services__item:hover .service__button {
  background-color: #ff5500;
  color: #fff;
}

.service__title {
  color: #000;
  font-size: 32px;
  line-height: 1.4;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 17px;
}

.service__features {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 25px;
}

.service__feature {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.service__feature:first-child {
  margin-right: 55px;
}

.service__feature-option {
  color: #000;
  font-weight: bold;
}

.service__text {
  margin-bottom: 29px;
}

.service__button {
  background-color: #fff;
  color: #ff5500;
  border: 2px solid #ff5500;
}

.service__button--active {
  background-color: #ff5500;
  color: #fff;
}

.promotions {
  margin-bottom: 145px;
  color: #fff;
  font-size: 0;
}

.promoutions__title {
  font-size: 36px;
  line-height: 1.4;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.promotion {
  position: relative;
  width: 557px;
  min-height: 394px;
}

.promotions__item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.promotions__item + .promotions__item {
  margin-left: 25px;
}

.promotions__item--opacity .promotion__image {
  background-color: rgba(90, 90, 90, 0.4);
}

.promotion__image {
  object-fit: contain;
}

.promotion__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 130px;
  padding: 32px 35px;
}

.promotion__date {
  display: block;
  margin-bottom: 12px;
}

.promotion__name {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 6px;
}

.promotion__text {
  font-size: 16px;
  line-height: 1.3;
}

.paginator {
  font-size: 16px;
  text-align: center;
  margin: 45px auto;
}

.paginator__list {
  font-size: 0;
  font-weight: bold;
}

.paginator__text,
.paginator__list,
.paginator__item {
  display: inline-block;
}

.paginator__text {
  margin-right: 25px;
  line-height: 1.25;
}

.paginator__item {
  font-size: 16px;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
}

.paginator__link--active,
.paginator__link:hover {
  background-color: #ff5500;
}

.about {
  margin-bottom: 55px;
}

.about__image,
.about__content {
  display: inline-block;
  vertical-align: top;
}

.about__content {
  width: 785px;
  min-height: 455px;
  font-size: 16px;
  color: #060606;
  line-height: 1.7;
  background-color: #fff;
  border-radius: 5px;
  padding: 68px 81px;
  margin-left: 360px;
  margin-top: -410px;
}

.about__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 43px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about__button {
  background-color: #ff5400;
  color: #fff;
  padding: 18px 40px;
}

.footer {
  height: 160px;
  padding-top: 40px;
}

.footer-container__content {
  border-top: 4px solid rgba(255, 255, 255, 0.1);
}

.footer__menu {
  margin: 0 105px 0 130px;
}

.socials {
  margin-right: 68px;
}

.socials,
.socials__item {
  display: inline-block;
  vertical-align: middle;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__item--tel .socials__link {
  background-image: url("./images/socials/telegram.png");
}

.socials__item--vk .socials__link {
  background-image: url("./images/socials/vk.png");
}

.socials__item--fb .socials__link {
  background-image: url("./images/socials/f.png");
}

.socials__item--insta .socials__link {
  background-image: url("./images/socials/in.png");
}

.socials__item--tel:hover .socials__link {
  background-image: url("./images/socials/t-a.png");
}

.socials__item--vk:hover .socials__link {
  background-image: url("./images/socials/vk-a.png");
}

.socials__item--fb:hover .socials__link {
  background-image: url("./images/socials/fb-a.png");
}

.socials__item--insta:hover .socials__link {
  background-image: url("./images/socials/in-a.png");
}

.contacts__text {
  font-size: 11px;
  color: #9a9a9a;
}
