.controls {
  flex: 1;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.controls__item {
  margin-right: 10px;
  margin-bottom: 6px;
}

.controls__item:last-child {
  margin-right: 0;
}

.controls__tag {
  padding: 9px 15px;
}

.control__elem {
  position: relative;
  cursor: pointer;
}

.controls__checkbox {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.controls__checkbox~.controls__tag:hover,
.controls__checkbox:checked~.controls__tag {
  background-color: #F2D4C9;
}