.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1.2;
}

.contacts__workhours {
  line-height: 1.1;
  text-decoration: underline;
  color: #ff3d00;
}

.contacts__workhours:hover {
  cursor: pointer;
}

.contacts__text {
  font-size: 11px;
  color: #9a9a9a;
}

.contacts__schedule {
  opacity: 0;
  left: -10000px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.contacts__workhours:hover .contacts__schedule {
  left: 27px;
  transition: opacity 0.5s;
  opacity: 1;
}