.offers__list {
  margin-bottom: 65px;
}

.offers {
  padding-top: 94px;
  padding-bottom: 64px;
}

.offers__item + .offers__item {
  min-height: 333px;
  margin-top: 49px;
}

.offers__paginator {
  color: #000;
}

.offers__paginator .paginator__link--active,
.offers__paginator .paginator__link:hover {
  color: #ffffff;
}
