.partners__title {
  color: #1a1b1e;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 73px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__link {
  width: 250px;
  height: 140px;
  filter: saturate(0);
}

.partners__item--divico .partners__link {
  background: url(../../images/partners/divico.png) no-repeat;
}

.partners__item--divico:hover .partners__link {
  filter: saturate(1);
}

.partners__item--ds .partners__link {
  background: url(../../images/partners/ds.png) no-repeat;
}

.partners__item--ds:hover .partners__link {
  filter: saturate(1);
}

.partners__item--park .partners__link {
  background: url(../../images/partners/park.png) no-repeat;
}

.partners__item--park:hover .partners__link {
  filter: saturate(1);
}

.partners__item--zvibes .partners__link {
  background: url(../../images/partners/zvibes.png) no-repeat;
}

.partners__item--zvibes:hover .partners__link {
  filter: saturate(1);
}

.partners__item--rosvideo .partners__link {
  background: url(../../images/partners/rosvideo.png) no-repeat;
}

.partners__item--rosvideo:hover .partners__link {
  filter: saturate(1);
}

.partners__item--zavod .partners__link {
  background: url(../../images/partners/zavod.png) no-repeat;
}

.partners__item--zavod:hover .partners__link {
  filter: saturate(1);
}

.partners__item--pixel .partners__link {
  background: url(../../images/partners/pixel.png) no-repeat;
}

.partners__item--pixel:hover .partners__link {
  filter: saturate(1);
}

.partners__item--expotv .partners__link {
  background: url(../../images/partners/expotv.png) no-repeat;
}

.partners__item--expotv:hover .partners__link {
  filter: saturate(1);
}
