.reviews {
  padding-top: 94px;
  padding-bottom: 89px;
}

.reviews__container {
  width: 1141px;
  ;
}

.reviews__list {
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 52px;
}

.reviews__item {
  margin-bottom: 17px;
}