.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 31px 31px;
  background-color: #F4F5F5;
  border-radius: 5px;
  color: black;
}

.review__header {
  display: flex;
  margin-bottom: 27px;
}

.review__image {
  margin-right: 22px;
}

.review__username {
  position: relative;
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
  color: #2E77A4;
  text-decoration: underline;
}

.review__username::after {
  position: absolute;
  content: " ";
  width: 36px;
  height: 36px;
  background: url(../../images/icons/socials.png) -122px -122px;
  display: block;
  top: 4px;
  right: -42px
}

.review__content {
  flex: 1;
}

.review__title {
  max-width: 470px;
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
  color: #202020;
  margin-bottom: 13px;
}

.review__text {
  font-size: 16px;
  line-height: 1.7;
  color: #818181;
  margin-bottom: 47px;
}

.review__date {
  font-size: 14px;
  line-height: 1.9;
  font-weight: 600;
  color: #1A1B1E;
}