.services__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services__item {
  width: calc(100% / 3 - 22px);
}

.services__item--active {
  border: 5px solid #ccc;
}

.services__item .service__button {
  transition: 0.5s;
}

.services__item:hover .service__button {
  background-color: #ff3d00;
  color: #fff;
  transition: 0.5s;
}