.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.tags__item {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags__item:last-child {
  margin-right: 0;
}