.welcome{
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: url(../../images/rec.png) center center no-repeat, url(../../images/welcome-bg.jpg) center center/cover no-repeat;
}

.welcome__content {
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  animation: vp_welcome 1s cubic-bezier(.55, .45, .61, .76) 0.2s forwards;
}

.welcome__logo {
  margin-bottom: 38px;
}

.welcome__button {
  color: #fff;
  background-color: #FF5500;
}